@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body{
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image:repeating-linear-gradient(45deg, rgba(208, 208, 208, 0.13) 0px, rgba(208, 208, 208, 0.13) 43px,rgba(195, 195, 195, 0.13) 43px, rgba(195, 195, 195, 0.13) 85px,rgba(41, 41, 41, 0.13) 85px, rgba(41, 41, 41, 0.13) 109px,rgba(88, 88, 88, 0.13) 109px, rgba(88, 88, 88, 0.13) 129px,rgba(24, 24, 24, 0.13) 129px, rgba(24, 24, 24, 0.13) 139px,rgba(92, 92, 92, 0.13) 139px, rgba(92, 92, 92, 0.13) 179px,rgba(37, 37, 37, 0.13) 179px, rgba(37, 37, 37, 0.13) 219px),repeating-linear-gradient(45deg, rgba(18, 18, 18, 0.13) 0px, rgba(18, 18, 18, 0.13) 13px,rgba(48, 48, 48, 0.13) 13px, rgba(48, 48, 48, 0.13) 61px,rgba(130, 130, 130, 0.13) 61px, rgba(130, 130, 130, 0.13) 84px,rgba(233, 233, 233, 0.13) 84px, rgba(233, 233, 233, 0.13) 109px,rgba(8, 8, 8, 0.13) 109px, rgba(8, 8, 8, 0.13) 143px,rgba(248, 248, 248, 0.13) 143px, rgba(248, 248, 248, 0.13) 173px,rgba(37, 37, 37, 0.13) 173px, rgba(37, 37, 37, 0.13) 188px),repeating-linear-gradient(45deg, rgba(3, 3, 3, 0.1) 0px, rgba(3, 3, 3, 0.1) 134px,rgba(82, 82, 82, 0.1) 134px, rgba(82, 82, 82, 0.1) 282px,rgba(220, 220, 220, 0.1) 282px, rgba(220, 220, 220, 0.1) 389px,rgba(173, 173, 173, 0.1) 389px, rgba(173, 173, 173, 0.1) 458px,rgba(109, 109, 109, 0.1) 458px, rgba(109, 109, 109, 0.1) 516px,rgba(240, 240, 240, 0.1) 516px, rgba(240, 240, 240, 0.1) 656px,rgba(205, 205, 205, 0.1) 656px, rgba(205, 205, 205, 0.1) 722px),-webkit-gradient(linear, left top, right top, from(rgb(21, 145, 22)),to(rgb(39, 248, 84)));
  background-image:repeating-linear-gradient(45deg, rgba(208, 208, 208, 0.13) 0px, rgba(208, 208, 208, 0.13) 43px,rgba(195, 195, 195, 0.13) 43px, rgba(195, 195, 195, 0.13) 85px,rgba(41, 41, 41, 0.13) 85px, rgba(41, 41, 41, 0.13) 109px,rgba(88, 88, 88, 0.13) 109px, rgba(88, 88, 88, 0.13) 129px,rgba(24, 24, 24, 0.13) 129px, rgba(24, 24, 24, 0.13) 139px,rgba(92, 92, 92, 0.13) 139px, rgba(92, 92, 92, 0.13) 179px,rgba(37, 37, 37, 0.13) 179px, rgba(37, 37, 37, 0.13) 219px),repeating-linear-gradient(45deg, rgba(18, 18, 18, 0.13) 0px, rgba(18, 18, 18, 0.13) 13px,rgba(48, 48, 48, 0.13) 13px, rgba(48, 48, 48, 0.13) 61px,rgba(130, 130, 130, 0.13) 61px, rgba(130, 130, 130, 0.13) 84px,rgba(233, 233, 233, 0.13) 84px, rgba(233, 233, 233, 0.13) 109px,rgba(8, 8, 8, 0.13) 109px, rgba(8, 8, 8, 0.13) 143px,rgba(248, 248, 248, 0.13) 143px, rgba(248, 248, 248, 0.13) 173px,rgba(37, 37, 37, 0.13) 173px, rgba(37, 37, 37, 0.13) 188px),repeating-linear-gradient(45deg, rgba(3, 3, 3, 0.1) 0px, rgba(3, 3, 3, 0.1) 134px,rgba(82, 82, 82, 0.1) 134px, rgba(82, 82, 82, 0.1) 282px,rgba(220, 220, 220, 0.1) 282px, rgba(220, 220, 220, 0.1) 389px,rgba(173, 173, 173, 0.1) 389px, rgba(173, 173, 173, 0.1) 458px,rgba(109, 109, 109, 0.1) 458px, rgba(109, 109, 109, 0.1) 516px,rgba(240, 240, 240, 0.1) 516px, rgba(240, 240, 240, 0.1) 656px,rgba(205, 205, 205, 0.1) 656px, rgba(205, 205, 205, 0.1) 722px),linear-gradient(90deg, rgb(21, 145, 22),rgb(39, 248, 84));
  background-image: url(./dirt.png);
}
.game--body {
  position: relative;
  font-size: 20px;
  min-height: 27em;
  width: 48em;
}
.game--main {
  position: relative;
  min-height: 27em;
  width: 48em;
  background-color: limegreen;
  background-image: linear-gradient(45deg, rgb(21, 145, 22) 25%, transparent 25%), linear-gradient(-45deg, rgb(21, 145, 22) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgb(21, 145, 22) 75%), linear-gradient(-45deg, transparent 75%, rgb(21, 145, 22) 75%);
  background-size: 2em 2em;
  background-position: 0 0, 0 1em, 1em -1em, -1em 0px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 0.2em #33333355;
          box-shadow: 0 0 0 0.2em #33333355;
}
.game--controls {display: none;}

.game--player {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #3fd122;
  border: 1px solid #000;
}
.tail{border: 1px solid #000;}
.tail:nth-of-type(odd) {background-color: #c6d825}

/*
// Player Skins
*/
/* Coral */
.game--player.coral {
  background-color: black;
  border: 1px solid rgb(255, 174, 0);
}
.tail.coral{border: 1px solid rgb(255, 174, 0);}
.tail.coral:nth-of-type(odd) {background-color: rgb(255, 30, 0);}
.tail.coral:nth-of-type(even) {background-color: black;}

/* Thorny Bushes */
.game--player.thorny {
  background-color: rgb(255, 94, 0);
  border: 1px solid rgb(255, 38, 0);
}
.tail.thorny{border: 1px solid rgb(255, 38, 0)}
.tail.thorny:nth-of-type(odd) {background-color: rgb(0, 235, 223);}
.tail.thorny:nth-of-type(even) {background-color: rgb(255, 94, 0);;}

/* Pink Bushes */
.game--player.pink {
  background-color: rgb(255, 84, 189);
  border: 1px solid #fff;;
}
.tail.pink{border: 1px solid #fff;}
.tail.pink:nth-of-type(odd) {background-color: rgb(255, 0, 221);}
.tail.pink:nth-of-type(even) {background-color: rgb(255, 84, 189);}

.game--paused, .game--over {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000aa;
  z-index: 2;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
}
.game--over {
  color: red;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.game--point {
  position: relative;
  height: 1em;
  width: 1em;
  background-color: red;
  border: 1px solid #333;
  border-radius: 50%;
}

.game--score {
  color: #fff;
  display: flex;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-content: space-evenly;
}
.game--score > div {
  width: 10rem;
  background-color: #000000cc;
  padding: 0.5rem;
  border: 2px solid #000000dd;
}
.game--score span {
  display: block;
}
.new-highscore {
  color: #ffff00;
}

/*
// Main Menu
*/
.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.5rem;
  text-transform: uppercase;
}
.main-menu.hide {display: none;}
.main-menu .title {
  display: grid;
  justify-content: center;
  text-align: center;
}
.main-menu .title div {
  color: #333;
  font-size: 1rem;
}
.main-menu .title h1 {
  background-image: url('./snake.svg');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
  padding: 3rem 0;
  font-size: 2.5rem;
}

.radio {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #000;
  cursor: pointer;
  border-radius: 50%;
}

.main-menu .choice:nth-child(1) input:checked ~ .radio {background-color: #3fd122;}
.main-menu .choice:nth-child(2) input:checked ~ .radio {background-color: #ff1e00;}
.main-menu .choice:nth-child(3) input:checked ~ .radio {background-color: #00ebdf;}
.main-menu .choice:nth-child(4) input:checked ~ .radio {background-color: #ff00dd;}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}


.main-menu .choice-container {
  display: grid;
  margin: 1rem 0;
  gap: 1.5rem;
}
.main-menu .choice input {
  position: absolute;
  opacity: 0;
}

.main-menu .snake {
  position: relative;
  display: flex;
}
.main-menu .snake::after, .main-menu .snake::before  {
  content: '';
  display: inline-block;
  position: relative;
  left: 0;
  height: 2rem;
  width: 6rem;
  border: 1px solid black;
  cursor: pointer;
}
.main-menu .snake::after {
  position: absolute;
  width: 2rem;
  left: 2rem;
  cursor: pointer;
  /* left: -3.1rem; */
}
.main-menu .snake--1::before {background-color: #3fd122;}
.main-menu .snake--1::after {background-color: #c6d825;}

.main-menu .snake--2::before, .main-menu .snake--2::after {border: 1px solid yellow;}
.main-menu .snake--2::before {background-color: black;}
.main-menu .snake--2::after {background-color: rgb(255, 30, 0);}

.main-menu .snake--3::before, .main-menu .snake--3::after {border: 1px solid tomato;}
.main-menu .snake--3::before {background-color: rgb(255, 94, 0);}
.main-menu .snake--3::after {background-color: rgb(0, 235, 223);}

.main-menu .snake--4::before, .main-menu .snake--4::after {border: 1px solid #fff;}
.main-menu .snake--4::before {background-color: rgb(255, 84, 189);}
.main-menu .snake--4::after {background-color: rgb(255, 0, 221);}

.main-menu .submit {
  cursor: pointer;
  width: 100%;
  height: 4rem;
  font-size: 1.5rem;
  border: 0;
  /* border-radius: 50rem; */
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  background-color: #00a8ff;
  background-color: #3fd122;
  font-weight: lighter;
  color: #fff;
  color: #000;
  margin: auto;
  border: 1px solid #000;
}

.main-menu .submit:active {
  transform: scale(0.95);
}


/* Powered By */
.powered-by img {
  display: block;
  height: 48px;
}
.powered-by p:first-of-type {
  display: inline;
  color:  #3328fe;
}
.powered-by p {
  display: inline;
  color:  #3328fe;
}
.powered-by {
  background-color: #fff;
  font-size: 16px;
  position: fixed;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  box-shadow: 0px 2px 6px 3px #33333330;
  bottom: 0;
  z-index: 99;
  text-decoration: none;
}


@media (max-width:1080px) {
  .game--body, .game--main {
    width: 30em;
  }
}
@media (max-width:750px) {
  .powered-by {
    display: none;
  }
  :root{
    /* font-size: 16px; */
  }
  .game--body, .game--main {
    width: 20em;
    min-height: 20em;
  }
  .game--controls {
    text-align: center;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    grid-gap: 0.5em;
    margin-top: 1rem;
  }
  .game--controls button {
    background-color: #000000cc;
    border: 0;
    outline: none;
    font-size: 1.5rem;
    border: 0.1em solid #000000dd;
    text-transform: uppercase;
    padding: 0.75rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #fff;
  }
  .game--controls .icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
  }
  .game--controls .icon img {
    display: block;
    height: 48px;
  }
  .game--controls .icon p {
    display: inline;
    text-transform: initial;
    font-size: 12px;
    color:  #fff;
  }
}
@media (max-width:450px) {
  :root {
    font-size: 14px;
  }
  .game--body {
    font-size: 16px;
  }
  .game--controls button {
    font-size: 1rem;
  }
  .game--score > div {
    font-size: 1rem;
  }

}