@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body{
  color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image:repeating-linear-gradient(45deg, rgba(208, 208, 208, 0.13) 0px, rgba(208, 208, 208, 0.13) 43px,rgba(195, 195, 195, 0.13) 43px, rgba(195, 195, 195, 0.13) 85px,rgba(41, 41, 41, 0.13) 85px, rgba(41, 41, 41, 0.13) 109px,rgba(88, 88, 88, 0.13) 109px, rgba(88, 88, 88, 0.13) 129px,rgba(24, 24, 24, 0.13) 129px, rgba(24, 24, 24, 0.13) 139px,rgba(92, 92, 92, 0.13) 139px, rgba(92, 92, 92, 0.13) 179px,rgba(37, 37, 37, 0.13) 179px, rgba(37, 37, 37, 0.13) 219px),repeating-linear-gradient(45deg, rgba(18, 18, 18, 0.13) 0px, rgba(18, 18, 18, 0.13) 13px,rgba(48, 48, 48, 0.13) 13px, rgba(48, 48, 48, 0.13) 61px,rgba(130, 130, 130, 0.13) 61px, rgba(130, 130, 130, 0.13) 84px,rgba(233, 233, 233, 0.13) 84px, rgba(233, 233, 233, 0.13) 109px,rgba(8, 8, 8, 0.13) 109px, rgba(8, 8, 8, 0.13) 143px,rgba(248, 248, 248, 0.13) 143px, rgba(248, 248, 248, 0.13) 173px,rgba(37, 37, 37, 0.13) 173px, rgba(37, 37, 37, 0.13) 188px),repeating-linear-gradient(45deg, rgba(3, 3, 3, 0.1) 0px, rgba(3, 3, 3, 0.1) 134px,rgba(82, 82, 82, 0.1) 134px, rgba(82, 82, 82, 0.1) 282px,rgba(220, 220, 220, 0.1) 282px, rgba(220, 220, 220, 0.1) 389px,rgba(173, 173, 173, 0.1) 389px, rgba(173, 173, 173, 0.1) 458px,rgba(109, 109, 109, 0.1) 458px, rgba(109, 109, 109, 0.1) 516px,rgba(240, 240, 240, 0.1) 516px, rgba(240, 240, 240, 0.1) 656px,rgba(205, 205, 205, 0.1) 656px, rgba(205, 205, 205, 0.1) 722px),-webkit-gradient(linear, left top, right top, from(rgb(21, 145, 22)),to(rgb(39, 248, 84)));
  background-image:repeating-linear-gradient(45deg, rgba(208, 208, 208, 0.13) 0px, rgba(208, 208, 208, 0.13) 43px,rgba(195, 195, 195, 0.13) 43px, rgba(195, 195, 195, 0.13) 85px,rgba(41, 41, 41, 0.13) 85px, rgba(41, 41, 41, 0.13) 109px,rgba(88, 88, 88, 0.13) 109px, rgba(88, 88, 88, 0.13) 129px,rgba(24, 24, 24, 0.13) 129px, rgba(24, 24, 24, 0.13) 139px,rgba(92, 92, 92, 0.13) 139px, rgba(92, 92, 92, 0.13) 179px,rgba(37, 37, 37, 0.13) 179px, rgba(37, 37, 37, 0.13) 219px),repeating-linear-gradient(45deg, rgba(18, 18, 18, 0.13) 0px, rgba(18, 18, 18, 0.13) 13px,rgba(48, 48, 48, 0.13) 13px, rgba(48, 48, 48, 0.13) 61px,rgba(130, 130, 130, 0.13) 61px, rgba(130, 130, 130, 0.13) 84px,rgba(233, 233, 233, 0.13) 84px, rgba(233, 233, 233, 0.13) 109px,rgba(8, 8, 8, 0.13) 109px, rgba(8, 8, 8, 0.13) 143px,rgba(248, 248, 248, 0.13) 143px, rgba(248, 248, 248, 0.13) 173px,rgba(37, 37, 37, 0.13) 173px, rgba(37, 37, 37, 0.13) 188px),repeating-linear-gradient(45deg, rgba(3, 3, 3, 0.1) 0px, rgba(3, 3, 3, 0.1) 134px,rgba(82, 82, 82, 0.1) 134px, rgba(82, 82, 82, 0.1) 282px,rgba(220, 220, 220, 0.1) 282px, rgba(220, 220, 220, 0.1) 389px,rgba(173, 173, 173, 0.1) 389px, rgba(173, 173, 173, 0.1) 458px,rgba(109, 109, 109, 0.1) 458px, rgba(109, 109, 109, 0.1) 516px,rgba(240, 240, 240, 0.1) 516px, rgba(240, 240, 240, 0.1) 656px,rgba(205, 205, 205, 0.1) 656px, rgba(205, 205, 205, 0.1) 722px),linear-gradient(90deg, rgb(21, 145, 22),rgb(39, 248, 84));
  background-image: url(./dirt.png);
}
.game--body {
  position: relative;
  min-height: 27em;
  width: 48em;
}
:root{
  font-size: 22px;
}
.game--main {
  position: relative;
  min-height: 27em;
  width: 48em;
  background-color: limegreen;
  background-image: linear-gradient(45deg, rgb(21, 145, 22) 25%, transparent 25%), linear-gradient(-45deg, rgb(21, 145, 22) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgb(21, 145, 22) 75%), linear-gradient(-45deg, transparent 75%, rgb(21, 145, 22) 75%);
  background-size: 2em 2em;
  background-position: 0 0, 0 1em, 1em -1em, -1em 0px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 0.2em #33333355;
          box-shadow: 0 0 0 0.2em #33333355;
}
.game--controls {display: none;}

.game--player {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #3fd122;
  border: 1px solid #000;
}
.tail{border: 1px solid #000;}
.tail:nth-of-type(odd) {background-color: #c6d825}

/*
// Player Skins
*/
/* Coral */
.game--player.coral {
  background-color: black;
  border: 1px solid rgb(255, 174, 0);
}
.tail.coral{border: 1px solid rgb(255, 174, 0);}
.tail.coral:nth-of-type(odd) {background-color: rgb(255, 30, 0);}
.tail.coral:nth-of-type(even) {background-color: black;}

/* Thorny Bushes */
.game--player.thorny {
  background-color: rgb(255, 94, 0);
  border: 1px solid rgb(255, 38, 0);
}
.tail.thorny{border: 1px solid rgb(255, 38, 0)}
.tail.thorny:nth-of-type(odd) {background-color: rgb(0, 235, 223);}
.tail.thorny:nth-of-type(even) {background-color: rgb(255, 94, 0);;}

/* Pink Bushes */
.game--player.pink {
  background-color: rgb(255, 84, 189);
  border: 1px solid #fff;;
}
.tail.pink{border: 1px solid #fff;}
.tail.pink:nth-of-type(odd) {background-color: rgb(255, 0, 221);}
.tail.pink:nth-of-type(even) {background-color: rgb(255, 84, 189);}

.game--paused, .game--over {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000aa;
  z-index: 2;
  font-weight: bold;
  font-size: 250%;
  text-shadow: 1px 1px black;
}
.game--over {
  color: red;
}

.game--point {
  position: relative;
  height: 1em;
  width: 1em;
  background-color: red;
  border: 1px solid #333;
  border-radius: 50%;
}

.game--score {
  position: absolute;
  left: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -2.8em;
  font-size: 120%;
  font-weight: bold;
}
.game--score span {
  display: block;
  text-align: center;
}

.game--high-score {
  left: 60%;
  color: yellow;
  text-shadow: 1px 1px 1px #00000080;
}

/*
// Main Menu
*/
.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #222;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu h4{
  text-align: center;
  font-weight: normal;
}
.main-menu .card {
  display: grid;
  justify-content: center;
  padding: 1em;
  height: 400px;
  width: 300px;
  background-color: #eee;
  box-shadow: 0px 0px 0px 2px #000;
  border-radius: 1em;
}
.main-menu form {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-menu form .choice {
  display: flex;
  justify-content: space-between;
}
.main-menu form input[type="submit"] {
  display: flex;
  border: 1px solid #333;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  justify-content: center;
  outline: none;
}

.main-menu form input[type="submit"]:active {
  background-color: #888;
}
.main-menu .snake {position: relative;}

.main-menu .snake::after, .main-menu .snake::before  {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  height: 1em;
  width: 3em;
  border: 1px solid black;
}
.main-menu .snake::after {
  width: 1em;
  left: 1em;
}
.main-menu .snake--1::before {background-color: #3fd122;}
.main-menu .snake--1::after {background-color: #c6d825;}

.main-menu .snake--2::before, .main-menu .snake--2::after {border: 1px solid yellow;}
.main-menu .snake--2::before {background-color: black;}
.main-menu .snake--2::after {background-color: rgb(255, 30, 0);}

.main-menu .snake--3::before, .main-menu .snake--3::after {border: 1px solid tomato;}
.main-menu .snake--3::before {background-color: rgb(255, 94, 0);}
.main-menu .snake--3::after {background-color: rgb(0, 235, 223);}

.main-menu .snake--4::before, .main-menu .snake--4::after {border: 1px solid #fff;}
.main-menu .snake--4::before {background-color: rgb(255, 84, 189);}
.main-menu .snake--4::after {background-color: rgb(255, 0, 221);}


@media (max-width:1080px) {
  .game--body, .game--main {
    width: 30em;
  }
}
@media (max-width:750px) {
  :root{
    font-size: 18px;
  }
  .game--body, .game--main {
    width: 20em;
    min-height: 20em;
  }
  .game--controls {
    text-align: center;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    height: calc(20rem / 2);
    grid-gap: 0.5em;
    margin-top: 1rem;
  }
  .game--controls button {
    background-color: #000000cc;
    border: 0;
    outline: none;
    border: 0.1em solid #000000dd;
    color: #fff;
  }
  .game--controls .empty {visibility: hidden;}
}
@media (max-width:550px) {
:root{
  font-size: 16px;
}
}

@media (max-height:550px) {
  :root {
    font-size: 10px;
  }
}
